<h2 class="page-header">HAWC Registration Help</h2>
<h3>HAWC Specific</h3>
<p>If you are seeking help specific to the Health and Wellness Center, please find Ron Foley in Area 7 or Brian Lowery in Area 6</p>
</br>
<h3>HAWC Website Specific</h3>
<p>If you need assistance with the registration, login, or other website issues, please see Michael Roberts (it'll hurt though)</p>