<<<<<<< HEAD
 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard {{name}}</p>  

=======
<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  
>>>>>>> 13c42a23794d5aeb1c3836246cbd9c680f16d3b2
