<<<<<<< HEAD

<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard {{name}}</p>  
=======
<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard {{name}}</p>  

>>>>>>> 4b74a6a0bc4c7f22ea93508d69d880f1626d9c9b
