 <!DOCTYPE html>
 <html lang="en">
 <head>
 <title>Cleveland Center NATCA</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <br>
 <div class="container">
 <div class="row">
 <div class="col-md-3">
 <a href="/users/natcazobindex">
 <img class="img-responsive" src="http://104.152.99.7/HAWC/images/zob.jpg"></div>
 </a>
 <div class="col-md-9"><br>
 <h1 align="center" ><u>Cleveland Center NATCA</u></h1>
 <p align="center" >326 East Lorain Street</p>
 <p align="center" >Oberlin, Ohio 44074</p>
 <p align="center" >Phone. 1-440-774-0343</p>
 <br>
 <p align="center" ><strong>President:</strong> Russ Hannu</p>
 <p align="center" ><strong>Vice President:</strong> William Gentry</p></div>

 </div><br>
 </div>
 </head>
 <body>
